.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding: 15px;

  p {
    color: rgba(0, 0, 0, 0.4);
  }
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  color: rgba(130, 87, 230, 0.6);
  cursor: pointer;
}

.icon-gh{
  margin-right: 30px;
  font-size: 30px;

  &:hover {
    color: #8257e6;
  }
}

.icon-lk{
  font-size: 30px;

  &:hover {
    color: #8257e6;
  }
}

// MEDIA QUERY

@media only screen and (min-width: 600px) {
  .nav {
    flex-direction: row;
  }
}